button {
  color: white;
  display: flex;
  margin: auto;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: green;
  cursor:pointer;
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  width: 100%;
  justify-content: center;
}

iframe {
  margin: 0;
  width: 100%;
  length: 100%;
}
