body {
  font-family: verdana;
  background-color: lightgrey;
}

.middle {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
}

.text {
  font-weight: 900;
  color: green;
  font-size: 50px;
}

.login {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.input {
  padding: 5px;
  margin: 5px;
}

button {
  color: white;
  display: block;
  margin: auto;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: green;
  font-weight: 900px;
  cursor:pointer;
}

a {
  border-style: solid;
  border-color: green;
  color: white;
  display: block;
  margin: auto;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: green;
  font-weight: 900px;
  cursor:pointer;
}
