html {
  min-height:100%;
  position: relative;
}

body {
  height: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 20%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #33cc33;
  font-family: sans-serif;
  text-align: center;
}

a {
  display: block; /*makes whole link area clickable and specify width, padding, margin...*/
  padding: 8px 16px;
  text-decoration: none;
  color: white;
}

a:hover {
  background-color: white;
  color: #33cc33;
}

a:active {
  color: white;
}
